elpa/
auto-save-list/
*.~
ido.last
*.dat
/.gitignore~
/ido.last~
/init.el~
/projectile-bookmarks.eld
/smex-items
/#init.el#
/tramp
/eshell/history
/eshell/lastdir
/pyim
/%backup%~
/recentf
url
*.elc
bookmarks
/projectile.cache
/network-security.data
/*.tut
/tutorial
/speed-type
/bookmarks
bookmarks
/semanticdb
/rec
/.org-id-locations
/config.org[*Org Src config.org[ emacs-lisp ]*]
/custom.el
config.el
./config.el
/async-bytecomp.log
/history
/.#recentf
/nix-buffer/|home|peterzky|.xmonad|xmonad.hs/result
/nix-buffer/trusted-exprs
/nix-buffer/|home|peterzky|playground|rust|guessing_game|src|main.rs/result
/nix-buffer/|home|peterzky|playground|python|hello.py/result
/nix-buffer/|home|peterzky|playground|rust|hello_cargo|src|main.rs/result
/.mc-lists.el
/.#tramp
/.#.org-id-locations
/persp-confs/*
request/
layouts/*
/.cache/*
/games/tetris-scores
/games/*
